body{
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg, *{
  transition-duration: var(--transition-duration);
}

a{
  text-decoration: none;
  color: inherit;
}

input{outline: none}