:root {
  --container-width: 1190px;

  --container-padding-x: 250px;

  --transition-duration: 0.2s;
  --font-family: "Open Sans", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Bebas Neue", sans-serif;
}