@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x));
  margin-inline: auto;
  padding: 0 var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0, 0, 0, 0) !important;
  overflow: hidden !important;
}

.hidden {
  display: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg, * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

:root {
  --container-width: 1190px;
  --container-padding-x: 250px;
  --transition-duration: 0.2s;
  --font-family: "Open Sans", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --third-family: "Bebas Neue", sans-serif;
}

.first {
  padding-top: 41px;
  padding-bottom: 71px;
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url("/static/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #979797;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.first a {
  cursor: pointer;
}
.first__about-title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 60px;
  letter-spacing: 0.1em;
  text-align: center;
}
.first__about-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.first__about-scroll {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.34em;
  text-align: center;
}

.header {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
.header__nav {
  width: 45%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
}
.header__nav-link {
  height: 20px;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-align: center;
  color: #48555b;
}
.header__nav-link:hover {
  font-size: 12px;
  color: #00a4e5;
}

.story {
  padding-top: 60px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.story__title {
  position: relative;
}
.story__title:after {
  content: "";
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.story__title-text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  text-align: center;
  color: #48555b;
}
.story__about {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 77px;
}
.story__about-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.story__about-block-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #48555b;
}
.story__about-block-title span {
  color: #16ace8;
}
.story__about-block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.76923;
  letter-spacing: 0.01em;
  color: #48555b;
}
.story__about-box {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 30px;
}
.story__about-box-item-1 {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  background-image: url("/static/story1.png");
  background-repeat: no-repeat;
}
.story__about-box-item-2 {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  background-image: url("/static/story2.png");
  background-repeat: no-repeat;
}
.story__about-box-item-3 {
  display: flex;
  align-items: flex-start;
  padding-top: 15px;
  background-image: url("/static/story3.png");
  background-repeat: no-repeat;
}
.story__about-box-title {
  z-index: 1;
  max-width: 100px;
  height: 60px;
  padding-left: 10px;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 80px;
  padding-bottom: 115px;
}
.service__block {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.service__block-title {
  position: relative;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.13em;
  color: #48555b;
}
.service__block-title:after {
  content: "";
  position: absolute;
  top: 110%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.service__block-text {
  width: 43%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.72727;
  letter-spacing: 0.02em;
  color: #48555b;
}
.service__block-button {
  width: 150px;
  height: 40px;
  border: none;
  background: #00A4E5;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.service__block-button:hover {
  background: #000;
}
.service__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 27px;
}
.service__wrapper-block {
  padding: 38px 22px;
  border: 1px solid #E6E6E6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.service__wrapper-block-image {
  margin-bottom: 25px;
  height: 75px;
  object-fit: contain;
}
.service__wrapper-block-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #48555b;
}
.service__wrapper-block-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 1.76923;
  letter-spacing: 0.01em;
  color: #48555b;
}

.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 650px;
  background-image: url("/static/touch.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.touch__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.touch__wrapper-title {
  max-width: 350px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #48555b;
}
.touch__wrapper-button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #00A4E5;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.touch__wrapper-button:hover {
  background: #000;
}

.footer {
  background-color: #141A20;
}
.footer__copyright {
  padding: 23px;
}
.footer__copyright-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.08em;
  color: #fff;
}
.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__touch {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}
.footer__touch-title {
  padding: 30px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}
.footer__touch-form {
  display: flex;
}
.footer__touch-form-input {
  padding: 10px 15px;
  border: 1px solid #979797;
  width: 250px;
  height: 40px;
}
.footer__touch-form-button {
  border: none;
  width: 150px;
  height: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #00A4E5;
}
.footer__touch-form-button:hover {
  background: #000;
}
.footer__contact {
  padding: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.footer__contact-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
}
.footer__contact-item-icons {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
.footer__contact-item-icons-link {
  width: 16px;
  height: 16px;
}
.footer__contact-item-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.08em;
  text-align: center;
  color: #fff;
}
.footer__contact-item-logo {
  height: 23px;
}
.footer__contact-item-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  line-height: 1.72727;
  letter-spacing: 0.08em;
  color: #fff;
}
.footer__contact-item-list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer__contact-item-list-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contact-item-list-about-link {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  line-height: 2.27273;
  letter-spacing: 0.08em;
  color: #fff;
}
.footer__contact-item-list-about-link:hover {
  color: #00a4e5;
}

.footer-text {
  width: 250px;
}

/*# sourceMappingURL=styles.css.map */
